{% extends 'base.html' %}

{% block title %}
    Board | {{board.name}}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" style="display: inline-block;"><a href="{% url 'Home' %}" style="text-decoration: none;">Boards</a></li>
    <li class="breadcrumb-item active" style="display: inline-block;">{{board.name}}</li>
{% endblock %}

{% block content %}
    <a class="btn btn-primary" href="{% url 'new_topic' board.pk %}">New Topic</a>
    <br>
    <br>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Topic</th>
                <th>Created By</th>
                <th>Posts</th>
                <th>Views</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            {% for topic in board.topics.all %}
                <tr>
                    <td scope="row"><a href="{% url 'topic_posts' board.pk topic.pk %}">{{topic.subject}}</a></td>
                    <td>{{topic.created_by.username}}</td>
                    <td>0</td>
                    <td>0</td>
                    <td>{{topic.created_dt}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}