{% extends '.\base.html' %}
{% load static %}

{% block title %}
    Boards | Change Password
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" style="display: inline-block; text-decoration: none;" ><a href="{% url 'password_change' %}" style="text-decoration: none;">Change Your Password</a></li>
    <li class="breadcrumb-item active" style="display: inline-block;" >Done</li>
{% endblock %}
{% block content %}
    <div class="alert alert-success" role="alert">
        <strong>Success!</strong> Your password has been changed!
    </div>
    <a href="{% url 'Home' %}" class="btn btn-secondary">Return to home page</a>
{% endblock %}