{% extends '.\base.html' %}
{% load static %}

{% block title %}
    Boards | Change Password
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">Change Your Password</li>
{% endblock %}
{% block content %}

    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/forms.html' %}
        <br>
        <br>
        <button type="submit" class="btn btn-success btn-block" style="width: 100%;">Change Password</button>
    </form>
{% endblock %}