{% extends '.\base.html' %}
{% load static %}

{% block title %}
    Boards | Log In
{% endblock %}
{% block file_css_js %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center logo my-4">
            <a href="{% url 'Home' %}">Django Boards</a>
        </h1>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Welcome back!</h3>
                        <form method="post" novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">
                            {% include 'includes/forms.html' %}
                            <br>
                            <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Log In</button>
                        </form>
                    </div>
                    <div class="card-footer text-muted text-center">
                        Create new account <a href="{% url 'signup' %}">Sign up </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}